body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #333;
}

h1 {
    color: #ffff;
}

#startButton {
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.audio-button {
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.audio-button.red { background-color: #ff6666; }
.audio-button.yellow { background-color: #ffff66; }
.audio-button.green { background-color: #66ff66; }
.audio-button.blue { background-color: #6666ff; }

.audio-button.active {
    box-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff;
}

.hidden {
    display: none;
}
